* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s linear;
  user-select: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
